* {
  margin: 0;
  padding: 0; 
  box-sizing:border-box; 
}
//fonts
$roboto:'Roboto';
$arvo:'Arvo';
$cursive_font:'Satisfy';
$round:'Varela Round';
$fb:'agency fb';
//color
$primery_color:#ff013d;
$primery_color_blue:#6e41fe;
$secondary_color:#edf1fd;
$green:#38b54d;
$orange:#f06522;
$purple:#ec018c;
$cta:#ff013d;
$white:#fff;
$black:#25282e;
$color:#707392;

body{
  display:block;
  font-family: $roboto;
  width:100%;
}
body.active{
  overflow:hidden;  
}
.p_80{
  padding-top:80px;
}
.pt_80{
  padding-top:80px;
}
.theme_bg_color{
  background-color:rgba($primery_color_blue, .2);
}
.mt_60{
  margin-top:60px;
}

//home section
.home{
  display:block;
  width:100%;
  height:100vh;
  position:relative;
  padding:3% 6%;
  box-sizing:border-box;
  overflow:hidden;
  transition:box-shadow .3s ease-in-out;
  .navigation{
    position:fixed;
    background-color:#e2d9ff;
    z-index:9;
    display:block;
    width:100%;
    left:0;
    top:0;
    header{
      display:flex;
      padding:1.5% 6%;
      box-sizing:border-box;
      justify-content: space-between;
      align-items:center;
      .logo{
        text-transform: uppercase;
        font-size:25px;
        color:$black;
        font-weight:800;
          span{
            color:$primery_color;
          }
      }
      .menu_icon{
        display:none;
      }
      nav{
        display:block;
        ul{
          margin:0;
          padding:0;
          list-style-type: none;
          display:flex;
            li{
              display:block;
              position:relative;
              padding:0;
              a{
                font-size:12px;
                text-transform: uppercase;
                text-decoration: none;
                color:$black;
                padding:10px 15px;
                position:relative;
                transition:color .3s ease-in-out;
              }
              &:hover{
                a{
                  font-weight:800;
                  color:$primery_color;
                }
              }
              &.active{
                a{
                  font-weight:800;
                  color:$primery_color;
                  @media(max-width:1200px){
                    color:$primery_color_blue;
                  }
                }
              }
            }//li
        }//ul
      }//nav
      .myAccount{
        font-size:12px;
        color:$primery_color;
        padding:10px 15px;
        cursor:pointer;
      }
    }//header
    &.scrolling{
      box-shadow:2px 4px 17px rgba(182,182,182,1);
      //when window scroll scrolling class will be added in navigation
    }
  }//navigation
  .absolute_img{
    position:absolute;
    right:14vw;
    bottom:0;
    width:33vw;
    @media(max-width:1368px){
      width:27vw;
    }
    img{
      width:100%;
      display:block;
    }
  }//absolute_img
}//home

.absolute_social{
  position:absolute;
  left:0;
  bottom:0;
  display:flex;
  justify-content: space-between;
  width:15%;
  padding:3% 0 3% 6%;
  box-sizing: border-box;
  .fa{
    color:$color;
    font-weight: normal;
    cursor:pointer;
    &.active{
      color:$primery_color;
    }
    &:hover{
      color:$primery_color;
    }
  }
}//absolute_social

.scroll_down{
  position:absolute;
  display:inline-block;
  padding:5px;
  font-size:10px;
  text-transform: uppercase;
  bottom:10%;
  right:4%;
  transform:rotate(90deg);
  .fa{
    transform:rotate(90deg);
    margin-left:10px;
  }
}//scroll_down

.author_info{
  display:flex;
  height:100vh;
  justify-content:center;
  flex-direction: column;
  padding-left:12vw;
  box-sizing: border-box;
  .info_{
    font-size:12px;
    position:relative;
    padding-left:35px;
    text-transform: uppercase;
    display:inline-block;
    &:before{
      content:"";
      width:20px;
      height:2px;
      background-color:$color;
      left:0;
      top:50%;
      transform:translateY(-50%);
      position:absolute;
    }
  }//info_
}//author_info

.title_info{
  display:block;
  width:50%;
  h1{
    font-size:58px;
    span{
      color:$primery_color;
    }
  }
  p{
    display:block;
    width:75%;
    font-size:12px;
    line-height: 1.5;
    margin:0;
    margin-top:10px;
  }
  .main_cta{
    margin-top:40px;
    width:180px;
    height:45px;
    font-size:14px;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $primery_color;
    color:$white;
    cursor:pointer;
    position:relative;
    transition: transform .1s ease-in-out;
    box-shadow: 2px 4px 17px rgba(255,1,61,.3);
    &:active{
      transform:scale(.9);
    }
  }
}//title_info

//about section
.sectoin_title{
  display:block;
  text-align:center;
  color:$black;
  width:80%;
  margin:auto;
  h2{
    font-size:24px;
  }
  p{
    font-size:12px;
    text-align:center;
    margin-top:8px;
    line-height: 1.5;
  }
}//sectoin_title

.about_info{
  width:70%;
  text-align:center;
  font-size:13px;
  margin:30px auto 0 auto;
}//about_info

.progressBar{
  display:block;
  width:50%;
  margin:60px auto 0 auto;
  text-align:center;
}//progressBar

.flex_item{
  p{
    display:block;
    font-size:14px;
    margin-top:15px;
    text-transform:uppercase;
  }
}//flex_item
.circle_progress{
  display:block;
  width:75%;
  margin:auto;
}
.cirvle_path{
    fill:$white;
    stroke-linecap: round;
    stroke-width:2.8;
    animation:progress 1s forwards;
}
.circle_text{
  font-size:7px;
  font-weight: 600;
  text-anchor:middle;
  dominant-baseline:middle;
}
.green{
  .cirvle_path{
    stroke:$green;
  }
  .circle_text{
    fill:$green;
  }
}//green

.orange{
  .cirvle_path{
    stroke:$orange;
  }
  .circle_text{
    fill:$orange;
  }
}//orange

.purple{
  .cirvle_path{
    stroke:$purple;
  }
  .circle_text{
    fill:$purple;
  }
}//purple

.blue{
  .cirvle_path{
    stroke:$primery_color_blue;
  }
  .circle_text{
    fill:$primery_color_blue;
  }
}//blue
@keyframes progress{
  0%{
    stroke-dasharray: 0 100;
  }
}

.cta_group{
  display:flex;
  justify-content: center;
  align-items:center;
  width:100%;
  margin-top:30px;
  .cta{
    width:145px;
    height:40px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    position:relative;
    text-transform:uppercase;
    font-size:12px;
    transition:transform .1s ease-in-out;
    border-radius: 5px;
    +.cta{
      margin-left:25px;
    }
    &.download{
      background-color:$primery_color;
      color:$white;
      box-shadow: 2px 4px 17px rgba(255,1,61,.3); 
    }
    &.hireme{
     border:1px solid $black;
    }
    &:active{
      transform:scale(.9);
     }
  }//cta
}//cta_group

//footer section
  .footer_{
    background-color:$primery_color_blue;
    padding:100px 0 50px 0;
    .social_footer{
      display:flex;
      justify-content: center;
      align-items: center;
      font-size:16px;
      color:$white;
      cursor:pointer;
      .fa{
        +.fa{
          margin-left:25px;
        }
      }
    }
    p{
      text-align:center;
      font-size:12px;
      color:$white;
      margin-top:30px;
    }
  }//footer_
  .newsletter_section{
    width:100%;
    padding:50px;
    background-color:$white;
    margin-bottom:-50px;
    position:relative;
    z-index:1;
    box-shadow:1px 31px 33px -39px rgba(0,0,0,.75);
    .newsletter_input{
      position:relative;
      width:100%;
      height:50px;
      input{
        width:100%;
        height:100%;
        border:1px solid #bdbdbd;
        padding:10px 210px 10px 30px;
        &::placeholder{
          color:#bdbdbd;
        }
      }
      .input_btn{
        width:200px;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color:$primery_color;
        color:$white;
        position:absolute;
        right:0;
        top:0;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }//newsletter_section



//responsive for mobile and tablet
@media(max-width:1200px){
  br{
    display:none;
  }
  .home .navigation header{
    position:relative;
    display:flex;
    padding:20px;
    justify-content: space-between;
    align-items:center;
    .menu_icon{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width:50px;
      color:$black;
      cursor:pointer;
      span{
        width:40px;
        height:2px;
        background-color:$black;
        transition:all .3s ease-in-out;
        +span{
          margin-top:10px;
        }
        &:nth-child(2){
          width:30px;
          margin-left:10px;
        }
      }//span
      &:hover{
        span:nth-child(2){
          margin-left:-10px;
        }
      }
      &.active{
        //when click on mobile menu
        span{
          &:nth-child(1){
            transform-origin: center right;
            transform:rotate(-45deg) translateY(-4px);
          }
          &:nth-child(2){
            opacity:0;
            transform:translateX(30px);
          }
          &:nth-child(3){
            transform-origin: center right;
            transform:rotate(45deg) translateY(4px);
          }
        }//span
      }
    }//menu_icon
  }//header
  .home .navigation header nav{
    display:block;
    width:75%;
    height:100vh;
    background-image: linear-gradient(45deg, #3023AE 0%, #f09 100%);
    position:fixed;
    top:0;
    left:0;
    transform:translateX(-100%);
    z-index:10;
    transition:all .3s ease-in-out;
    &.active{
      transform:translateX(0);    
      li{
        a{
          position:relative;
          padding:0;
          &:after{
            content:"";
            width:0;
            height:1px;
            background-color:$primery_color_blue;
            position:absolute;
            right:0;
            bottom:-5px;
            transition: all .3s ease-in-out;
          }
          &.active{
            &:after{
              width:100%;
              left:0;
            }
          }
        }//a
      }//li
    }//active
    ul{
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: flex-start;
      width:100%;
      height:100%;
      li{
        padding-left:25px;
        width:100%;
          a{
            color:$white;
            font-size:22px; 
          }
          +li{
            margin-top:30px;
          }
      }//li
    }//ul
  }//nav

  .home .absolute_img{
    bottom:-1vw;
    right:20vw;
    img{
      width:60vw;
    }
  }//absolute_img
  .author_info{
    padding-left:2vw;
    height:85vh;
    width:68%;
  }
  .title_info{
    display:block;
    width:100%;
  }
  .scroll_down{
    right:50%;
  }
  .absolute_social{
    width:35%;
  }
  .myAccount{
    display:none;
  }
  .about_info{
    width:100%;
  }
  .progressBar{
    width:100%;
  }
  .sectoin_title{
    width:100%;
  }
}//media 1200px

@media(max-width:1000px){

}//media 1000px
@media(max-width:767px){
  .scroll_down{
    display: none;
  }
  .author_info{
    width:100%;
  }
  .newsletter_section{
    padding:20px;
    .newsletter_input{
      input{
        padding-right:120px;
        padding-left:10px;
      }
      .input_btn{
        width:110px;
      }
    }
  }//newsletter_section
}//media 767px